@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {
  font-family: 'Poppins', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0D0D0D;
  overflow-x: hidden;
}



.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  height: 100vh;
  padding: 50px;
  font-size: 10vh;
}

.landing-text{
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

@media only screen and (max-width:725px){
  .landing-container {
    font-size: 5vh;
    padding: 30px;
    height: 70vh;
  }
}