.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #b5b5b5cc;
  font-family: "Lexend Deca";
  font-size: clamp(14px, 2vw, 1em);
  text-transform: uppercase;
}

.spinner {
  font-size: clamp(20px, 2vw, 1.5em);
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
