.skill-container {
  position: relative;
  min-height: 50vh;
  overflow: hidden;
  padding: 50px;
}

.skill-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2em;
  padding: 20px;
  margin-top: 2em;
  justify-content: center;
  align-items: center;
}

.each-skill-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin-top: 2em;
  flex-direction: column;
}

.each-skill-text {
  text-align: center;
  font-size: clamp(8px, 2vw, 16px);
  transition: color 0.1s ease;
  color: rgba(181, 181, 181, 0.3);
}

.each-skill-wrapper:hover .each-skill-text {
  color: #fff;
}
.skill-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-content img {
  object-fit: cover;
  width: clamp(2em, 4vw, 3em);
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  opacity: 0.5;
  transition: filter 0.1s ease;
  margin: 0 5px;
}

.each-skill-wrapper:hover .skill-content img {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  opacity: 1;
}

@media only screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
}
